table,
th,
td {
    border-collapse: collapse;
    border: 1px solid;
}
#teamInputTable{padding: 0 1rem 0 1rem;}
#teamInputTable table {
    margin-top: 10px;
    background-color: #f7ccb5;
    
}

#teamInputTable th {
    background-color: #fbbe9d;
}

#teamInputTable td {
    padding: 1rem 1rem;
}

body {
    background-color: #f9dbbd;
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #fca17d;
    border: #140083 double;
    text-align: center;
    margin: auto;
}

h1 {
    margin: 10px;
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


main {
    margin: 1rem;
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.15rem;
}

footer {
    border: double;
    padding: 0.75rem 1rem;
    margin-top: 0.25rem;
    background-color: #fca17d81;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "one two"
}

#footerColOne{
    grid-area: "one";
    justify-self: start;
}
#footerColTwo{
    grid-area: "two";
    justify-self: end;
}

footer a {
    color: #140083;
    text-decoration: none;
    font-size: 1rem;
}

footer a:hover {
    color: #1d00be;
    font-weight: bold;
}